<div class="fullscreen-overlay"
     [class.fullscreen-below-header]="belowHeader"
     [class.closing]="isClosing"
     (touchstart)="onFullscreenTouchStart($event)"
     (touchmove)="onFullscreenTouchMove($event)"
     (touchend)="onFullscreenTouchEnd($event)"
     (click)="closeFullscreen()">
  <div class="fullscreen-image-container" (click)="$event.stopPropagation()">
    <img [src]="imageSrc" alt="Fullscreen Foto" class="fullscreen-image"
         [class.closing]="isClosing"
         [style.transform]="imageTransform" />
    <button class="close-button" (click)="closeFullscreen()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
</div>
